<footer class="siteFooter">
  <div class="container">
    <div class="main_container">
      <div class="footer_content">
        <div class="logoAndAbout">
          <div class="logo_div">
            <a href="">
              <img src="/static/images/gtss1.png" alt="">
            </a>
          </div>

          <div class="about_brand_div">
            
          </div>
        </div>
      </div>
      <div class="footer_content">
        <div class="information_div">
          <h3>Information</h3>
          <ul>
            <a href=""><li>FAQs</li></a>
            <a href=""><li>Email : <span >varunarya75@gmail.com</span></li></a>
            <a href=""><li>Contacts : +91 - 9711034084</li></a>
            <a href=""><li>Events</li></a>
          </ul>
        </div>
      </div>
      <div class="footer_content">
        <div class="information_div">
          <h3>My Account</h3>
          <ul>
            <a href=""><li>Delivery Infomation</li></a>
            <a href=""><li>Privacy Policy</li></a>
            <a href=""><li>Discount</li></a>
            <a href=""><li>Custom Service</li></a>
            <a href=""><li>Terms & Condition</li></a>
          </ul>
        </div>
      </div>
    </div>

    <div class="copyright_section">
      <a href=""><p>Copyright &copy; 2023 BluFlares. All Rights Reserved.</p></a>
    </div>
  </div>
</footer>